@media(max-width:900px){
   .section{
   gap: 30px;
    color:azure;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    padding: 10px;
    font-size: large;
   }
}
@media(max-width:900px){
   .section{
   display: none;
   }
}
@media(max-width:900px){
.corner img{
    display: none;
}}
@media(max-width:900px){
.home{
    justify-content: center;
   align-items: center;
  
}}

/* home */
@media(max-width:900px){
    .body{
    display: flex;
    padding-bottom: 20px;
    
}
.content{
    
    align-content: center;
}
.content h3{
    font-size: 20px;
}
.content h1{
    
    font-size: 40px;
}
.content p{
    font-size: 16px;
    gap: 20px;
    word-spacing: 2px;
}
.content button{
    color: azure;
    background-color: rgb(8, 8, 30);
    border: 2px solid white;
    padding: 10px;
    border-radius: 15px;
    width:150px;
}
content button:hover{
    
    color: black;
    background-color: rgb(250, 250, 252);
    
}


.body img{
    height:350px;
    width:260px;
}
}




@media(max-width:900px){
    .about{
    margin: 10px;
    padding: 10px;
   

}
.aboutpage{
 padding-top: 0px;
    color: white;
    justify-content: center;
    align-items: center;
    

}
.aboutpage h3{
  font-size: 20px;
}
.aboutpage h1{
    
  font-size: 40px;
}
.aboutpage p{
  font-size: 16px;
  gap: 20px;
  word-spacing: 2px;
}
.bottomabout{
    display: grid;
    height: 200px;
    align-items: center;
    justify-content: center;
    
}
.aboutpage div{
    grid-template-columns: repeat(2 ,5fr);
    border-radius: 10px;
    padding: 10px;
   
}
.education{
    color: azure;
}
.about{
    margin: 10px;
    padding: 10px;
   

}
.aboutpage{
 padding-top: 10px;
    color: white;
    justify-content: center;
    align-items: center;
    

}
}


@media(max-width:900px){
    .skills{
    margin: 10px;
    padding: 10px;
}
.skillspage h3{
  font-size: 20px;
}
.skillspage h1{
    
  font-size: 40px;
  text-align: center;
}
.skillspage p{
  font-size: 16px;
  gap: 20px;
  word-spacing: 2px;
  text-align: center;
}
.skillbox{
    color:white;
    display: grid;
    align-items: center;
    justify-content: center;
    gap:20px;
    text-align: center;
}
.techskills div{
    width: 500px;  
    grid-template-columns: repeat(2 ,1fr);
    border-radius: 50px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(4, 4, 4);
    background-color: rgb(64, 98, 87);
}
}
@media(max-width:900px){
    .contact{
    margin: 10px;
    padding: 10px;
}
.contactpage h3{
  font-size: 20px;
}
.contactpage h1{
    
  font-size: 40px;
  text-align: center;
}
.contactpage p{
  font-size: 16px;
  gap: 20px;
  word-spacing: 2px;
  text-align: center;
}
.contactinfo{
    color:aliceblue;
   padding-left: 5px;
}
.contactinfo div{ 
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}
.bottom{
    gap:50px;
}
input{
    padding: 10px;
    width:150px;
    border: 1px solid beige;
    border-radius: 10px;
}
button{
     color: azure;
    background-color: rgb(38, 38, 206);
    border: 2px solid white;
    padding: 10px;
    border-radius: 15px; 
    width: 100px;
}
textarea{
padding: 10px;
    width:300px;
    height:100px;
    border-radius: 10px;
     border: 1px solid beige;
}
}
@media(max-width:900px){
    .contact{
    margin: 10px;
    padding: 10px;
}
.contactpage h3{
  font-size: 20px;
  
  
}
.bottom h3{
  font-size: 20px;
  text-decoration: underline;
  
}
.contactpage h1{
    
  font-size: 40px;
  text-align: center;
}
.contactpage p{
  font-size: 16px;
  gap: 20px;
  word-spacing: 2px;
  text-align: center;
}
.contactinfo{
    color:aliceblue;
   padding-left: 5px;
}
.contactinfo div{ 
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    text-align: start;
    align-items: center;
    
}
.bottom{
    justify-content: space-evenly;
    display: flex;
}
input{
    padding: 10px;
    width:100%;
    border: 1px solid beige;
    border-radius: 10px;
}
.bottom button{
     color: azure;
    background-color: rgb(38, 38, 206);
    border: 2px solid white;
    padding: 10px;
    border-radius: 15px; 
width: 100%;
}
textarea{
padding: 10px;
    width:400px;
    height:100%;
    border-radius: 10px;
     border: 1px solid beige;
}
footer{
    color: #0D1026;
    background-color: bisque;
    font-weight: 800;
    padding: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
}
